.show-grid {
  & [class*='vs-col-'] {
    padding: 10px 5px;
    color: #fff;
    background-color: #34c3ff;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;

    &:nth-child(2n) {
      background-color: rgba(52, 195, 255, 0.8);
    }

    & [class*='vs-col-'] {
      background-color: #2792bf;

      &:nth-child(2n) {
        background-color: rgba(39, 146, 191, 0.9);
      }

      & [class*='vs-col-'] {
        background-color: #1a6280;

        &:nth-child(2n) {
          background-color: rgba(26, 98, 128, 0.9);
        }
      }
    }
  }
}

.show-col {
  background: #34c3ff;
  color: #fff;
  padding: 10px;
}
